<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <package name="ax.ha.laboration2.inventory.model"/>
    </typeAliases>
    <mappers>
        <mapper resource="mybatis/LocationMapper.xml"/>
        <mapper resource="mybatis/ProductMapper.xml"/>
    </mappers>
</configuration>