<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>InventoryApp</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

<!--Header-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">Inventory Application</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}" th:text="#{title.logout}"></a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="productList" th:unless="${#lists.isEmpty(products)}">
<h2 th:text="#{title.allProductsList}"></h2>
    <table>
        <thead>
        <tr>
            <th th:text="#{products.id}"></th>
            <th th:text="#{products.description}"></th>
            <th th:text="#{products.expirationDate}"></th>
            <th th:text="#{products.amount}"></th>
            <th th:text="#{products.location}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <div th:if="${product.getAmount() > 0}" class="productSummary">
                <td th:text="${product.getId()}"></td>
                <td th:text="${product.getDescription()}"></td>
                <td th:text="${#dates.format(product.getExpirationDate(), 'dd-MM-yyyy')}"></td>
                <td th:text="${product.getAmount()}"></td>
                <td th:text="${product.getLocation()}"></td>
            </div>
        </tr>
        </tbody>
    </table>
</div>
<div class="amountZeroProductList" th:unless="${#lists.isEmpty(productsOutOfStock)}">
    <h2 th:text="#{title.emptyProductsList}"></h2>
    <table>
        <thead>
        <tr>
            <th th:text="#{products.id}"></th>
            <th th:text="#{products.description}"></th>
            <th th:text="#{products.expirationDate}"></th>
            <th th:text="#{products.amount}"></th>
            <th th:text="#{products.location}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="emptyProduct : ${productsOutOfStock} ">
            <td th:text="${emptyProduct.getId()}"></td>
            <td th:text="${emptyProduct.getDescription()}"></td>
            <td th:text="${#dates.format(emptyProduct.getExpirationDate(), 'dd-MM-yyyy')}"></td>
            <td th:text="${emptyProduct.getAmount()}"></td>
            <td th:text="${emptyProduct.getLocation()}"></td>
        </tr>
        </tbody>
    </table>

</div>
<div class="addProductForm">
    <h2 th:text="#{title.addForm}"></h2>
        <form action="#" th:action="@{/inventory}" th:object="${product}" method="post">

            <label th:text="#{input.description}"></label>
            <input type="text" th:field="*{description}"/><br/>

            <label th:text="#{input.expiration}"></label>
            <input type="date" th:field="*{expirationDate}" /><br/>

            <label th:text="#{input.amount}"></label>
            <input type="text" th:field="*{amount}"/><br/>

            <label th:text="#{input.location}"></label>
            <input type="text" th:field="*{location}"/><br/>

            <input type="submit" name="save"/>
        </form>
</div>
<div class="updateProductForm">
    <h2 th:text="#{title.updateForm}"></h2>
    <form action="#" th:action="@{/update}" th:object="${product}" method="post">

        <label th:text="#{input.id}"></label>
        <input type="text" th:field="*{id}"/><br/>

        <label th:text="#{input.description}"></label>
        <input type="text" th:field="*{description}"/><br/>

        <label th:text="#{input.expiration}"></label>
        <input type="date" th:field="*{expirationDate}" /><br/>

        <label th:text="#{input.amount}"></label>
        <input type="text" th:field="*{amount}"/><br/>

        <label th:text="#{input.location}"></label>
        <input type="text" th:field="*{location}"/><br/>

        <input type="submit" name="update"/>
    </form>
</div>
</body>
</html>